* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: inherit;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside, section {
  display: block;
}

html, body {
  box-sizing: border-box;
  height: 100%;
  min-width: 320px;
  scroll-behavior: smooth;
}

body {
  line-height: 1;
  font-size: 15px;
  font-family: "Arial";
  color: #545454;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: "Arial";
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 30px;
  -moz-column-gap: 50px;
       column-gap: 50px;
}

.logo {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: center;
}
.logo__title {
  font-family: "Georgia";
  font-size: 32px;
  line-height: 110%;
  letter-spacing: 0.06em;
  color: #F1CDB3;
}
.logo__subtitle {
  color: #FFFFFF;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.1em;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}
.nav__list {
  display: flex;
  -moz-column-gap: 35px;
       column-gap: 35px;
  align-items: center;
  justify-content: center;
  color: #CDCDCD;
}
.nav__item {
  text-align: center;
}
.nav__link {
  position: relative;
  line-height: 160%;
}
.nav__link--active {
  cursor: default;
  color: #FAFAFA;
}
.nav .nav__link--active {
  position: relative;
}
.nav .nav__link--active::after {
  content: "";
  position: absolute;
  height: 3px;
  background: #F1CDB3;
  left: 0;
  right: 0;
  bottom: -6px;
  display: block;
}

.icon {
  display: none;
}
.icon__wrapper {
  width: 30px;
  height: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.icon__menu {
  position: relative;
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
  top: -10px;
}
.icon__menu::before {
  position: absolute;
  content: "";
  top: -10px;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
}
.icon__menu::after {
  position: absolute;
  content: "";
  top: 10px;
  left: 0;
  width: 30px;
  height: 2px;
  background-color: #F1CDB3;
}

/*** Pets page ***/
.header--pets {
  background-color: #FFFFFF;
  padding-bottom: 30px;
}

.logo__title--pets {
  color: #545454;
}
.logo__subtitle--pets {
  color: #292929;
}

.nav__list--pets {
  color: #545454;
}
.nav__link--active-pets {
  color: #292929;
}
.nav__link--active-pets::after {
  width: 58px;
}

/*** Main page ***/
/*** Start ***/
.start__row {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 42px;
       column-gap: 42px;
  margin-top: 90px;
}
.start__content {
  display: flex;
  max-width: 460px;
  align-items: flex-start;
  flex-direction: column;
  row-gap: 42px;
  margin-top: 163px;
}
.start__title {
  max-width: 310px;
  font-family: "Georgia";
  color: #FFFFFF;
  font-size: 44px;
  line-height: 130%;
}
.start__text {
  line-height: 160%;
  color: #CDCDCD;
}
.start__image img {
  max-width: 698px;
  max-height: 728px;
}

/*** About ***/
.about {
  background-color: #FFFFFF;
}
.about__row {
  display: flex;
  justify-content: center;
  -moz-column-gap: 120px;
       column-gap: 120px;
}
.about__content {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  row-gap: 25px;
  max-width: 430px;
}
.about__title {
  max-width: 370px;
}
.about__text {
  color: #4C4C4C;
  line-height: 160%;
}
.about__image img {
  max-width: 300px;
  max-height: 408px;
}

/*** Our friends ***/
.friends {
  background-color: #F6F6F6;
}
.friends__column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 60px;
}
.friends__title {
  max-width: 400px;
  text-align: center;
}

.slider {
  display: flex;
  -moz-column-gap: 53px;
       column-gap: 53px;
  align-items: center;
}
.slider__arrow {
  width: 52px;
  height: 52px;
  border: 2px solid #FDDCC4;
  border-radius: 100px;
  transition: all 0.5s ease 0s;
  background: url(../image/pets/Arrow.png) center no-repeat;
}
.slider__arrow-right {
  transform: rotate(180deg);
}
.slider__arrow:hover {
  background-color: #FDDCC4;
  transition: all 0.5s ease 0s;
}

.carousel {
  display: flex;
  -moz-column-gap: 90px;
       column-gap: 90px;
}

.card {
  background-color: #FAFAFA;
  width: 270px;
  height: 435px;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
  padding-bottom: 30px;
  transition: all 0.5s ease 0.5s;
  cursor: pointer;
}
.card__name {
  font-family: "Georgia";
  font-size: 20px;
  letter-spacing: 0.05em;
}

.card:hover {
  background-color: #FFFFFF;
  transition: all 0.5s ease 0.5s;
}
.card:hover .card__button {
  background-color: #F1CDB3;
}

/*** Help ***/
.help {
  background-color: #FFFFFF;
}
.help__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 60px;
}
.help__title {
  text-align: center;
}

.list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 120px;
       column-gap: 120px;
  row-gap: 55px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 30px;
}
.item__text {
  font-family: "Georgia";
  font-size: 20px;
  text-align: center;
  letter-spacing: 0.06em;
  line-height: 115%;
}

/*** Donation ***/
.donation {
  background-color: #F6F6F6;
}
.donation__row {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
}
.donation__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  row-gap: 20px;
}
.donation__title {
  max-width: 300px;
}
.donation__subtitle {
  font-family: "Georgia";
  letter-spacing: 0.06em;
}
.donation__credit-card {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  padding: 10px 15px;
  background: #F1CDB3;
  border-radius: 9px;
}
.donation__credit-card:hover {
  background-color: #FDDCC4;
  transition: all 0.5s ease 0s;
}
.donation__text {
  font-style: italic;
  font-size: 12px;
  line-height: 150%;
  color: #B2B2B2;
  max-width: 380px;
}

.credit-card__number {
  font-family: "Georgia";
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.06em;
}

/*** Pets page ***/
.friends__column--pets {
  row-gap: 45px;
}

.list--pets {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  -moz-column-gap: 40px;
       column-gap: 40px;
  row-gap: 30px;
  padding: 15px 0;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.navigation__button {
  width: 52px;
  height: 52px;
  border-radius: 6.3rem;
  border: 2px solid #F1CDB3;
  transition: all 0.5s ease 0s;
  text-align: center;
  font-family: "Georgia";
  font-size: 20px;
  line-height: 115%;
  color: #292929;
}

.footer__row {
  display: flex;
  padding-top: 40px;
  justify-content: center;
  -moz-column-gap: 160px;
       column-gap: 160px;
}

.row {
  display: flex;
  -moz-column-gap: 160px;
       column-gap: 160px;
}
.row__contacts {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  width: 280px;
  padding-top: 16px;
}
.row__contacts-title {
  font-family: "Georgia";
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}
.row__locations {
  display: flex;
  flex-direction: column;
  row-gap: 33px;
  width: 302px;
  padding-top: 16px;
}
.row__locations-title {
  font-family: "Georgia";
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.email {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.email__text {
  font-family: "Georgia";
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  line-height: 115%;
}

.phone {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.phone__text {
  font-family: "Georgia";
  font-size: 20px;
  letter-spacing: 0.06em;
  color: #F1CDB3;
  line-height: 115%;
}

.boston {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.boston__text {
  font-family: "Georgia";
  font-size: 20px;
  line-height: 110%;
  letter-spacing: 0.055em;
  color: #F1CDB3;
}

.london {
  display: flex;
  align-items: center;
  -moz-column-gap: 20px;
       column-gap: 20px;
}
.london__text {
  font-family: "Georgia";
  font-size: 20px;
  letter-spacing: 0.055em;
  color: #F1CDB3;
}

.lock {
  overflow: hidden;
}

.container__page {
  padding: 80px 0 100px;
}

.title {
  font-family: "Georgia";
  font-size: 35px;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.button {
  display: inline-block;
  padding: 15px 45px;
  background: #F1CDB3;
  border-radius: 100px;
  font-family: "Georgia";
  font-size: 17px;
  letter-spacing: 0.06em;
  color: #292929;
  transition: all 0.5s ease 0s;
}
.button-border {
  background-color: transparent;
  border: 2px solid #F1CDB3;
}
.button-border:hover {
  background-color: #F1CDB3;
}
.button--active {
  background-color: #F1CDB3;
}
.button--active:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
  transition: all 0.5s ease 0s;
}
.button--inactive {
  color: #CDCDCD;
  border: 2px solid #CDCDCD;
  cursor: default;
}
.button--aviable:hover {
  background-color: #FDDCC4;
  border: 2px solid #FDDCC4;
  transition: all 0.5s ease 0s;
}

.button:hover {
  background-color: #FDDCC4;
  transition: all 0.5s ease 0s;
}

.nav__link--hover-light, .nav__link--hover-dark {
  transition: all 0.5s ease 0s;
}
.nav__link--hover-light:hover {
  color: #FAFAFA;
  transition: all 0.5s ease 0s;
}
.nav__link--hover-dark:hover {
  color: #292929;
  transition: all 0.5s ease 0s;
}

.wrapper {
  background: url(../image/start/noise_transparent@2x.png), radial-gradient(100% 900% at 0% 0%, #5B483A 0%, #262425 100%), linear-gradient(0deg, #211F20, #211F20);
  min-height: 100%;
  overflow: hidden;
}

.container {
  max-width: 80rem;
  padding: 0 2.5rem;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 30px;
  }
  /*** Start ***/
  .start__row {
    flex-direction: column;
    row-gap: 103px;
    padding: 60px 124px 0;
    margin: 0;
  }
  .start__content {
    margin: 0;
  }
  .start__button {
    margin: 0 126px;
  }
  .start__image {
    padding-left: 13px;
  }
  .start__image img {
    max-width: 569px;
    max-height: 594px;
  }
  /*** About ***/
  .about__row {
    flex-direction: column-reverse;
    align-items: center;
    margin: 0 135px;
    row-gap: 80px;
  }
  /*** Our friends ***/
  .slider {
    -moz-column-gap: 12px;
         column-gap: 12px;
  }
  .carousel {
    -moz-column-gap: 40px;
         column-gap: 40px;
  }
  .woody {
    display: none;
  }
  /*** Help ***/
  .help__list {
    -moz-column-gap: 60px;
         column-gap: 60px;
  }
  .item {
    width: 170px;
    height: 113px;
  }
  /*** Donation ***/
  .donation__row {
    flex-direction: column-reverse;
    row-gap: 60px;
  }
  /*** Footer ***/
  .footer__row {
    flex-direction: column;
    align-items: center;
    row-gap: 4rem;
    padding-top: 30px;
  }
  .row {
    -moz-column-gap: 3.8rem;
         column-gap: 3.8rem;
  }
  .row__contacts {
    row-gap: 2.5rem;
    padding-top: 0;
  }
  .row__locations {
    padding-top: 0;
  }
  /*** Pets page ***/
  .pets-friends__column {
    row-gap: 30px;
    padding-bottom: 76px;
  }
  .list--pets {
    margin-bottom: 10px;
    padding: 0;
  }
  .scarlett {
    display: none;
  }
  .freddie {
    display: none;
  }
}
@media screen and (max-width: 320px) {
  .container {
    max-width: 320px;
    padding: 0 10px;
  }
  /*** Header ***/
  .head {
    padding: 30px 10px 0;
  }
  .nav {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #292929;
    overflow: auto;
    transition: all 0.5s ease 0s;
    right: -100%;
  }
  .nav--active {
    right: 0;
  }
  .nav__list {
    flex-direction: column;
    gap: 40px;
  }
  .nav__item {
    font-size: 32px;
  }
  .icon {
    display: block;
    background-color: transparent;
    transition: all 0.5s ease 0s;
  }
  .icon--active {
    transform: rotate(90deg);
    transition: all 0.5s ease 0s;
  }
  /*** Start ***/
  .start__row {
    row-gap: 105px;
    padding: 0;
    padding-top: 60px;
  }
  .start__content {
    align-items: center;
    text-align: center;
  }
  .start__title {
    font-size: 25px;
    width: 230px;
    letter-spacing: 0.06em;
  }
  .start__text {
    width: 18.75rem;
  }
  .start__image {
    padding-left: 40px;
  }
  .start__image img {
    max-width: 260px;
    max-height: 272px;
  }
  .start__button {
    margin: 0 46px;
    width: 207px;
    height: 52px;
  }
  /*** About ***/
  .about__row {
    padding: 42px 0;
    margin: 0;
    row-gap: 42px;
  }
  .about__content {
    row-gap: 23px;
    align-items: center;
  }
  .about__title {
    font-size: 25px;
    max-width: 290px;
    text-align: center;
  }
  .about__text {
    max-width: 270px;
    margin: 0 15px;
    text-align: justify;
  }
  .about__image img {
    max-width: 260px;
    max-height: 353px;
  }
  /*** Our friends ***/
  .friends__column {
    flex-direction: column;
    align-items: center;
    padding: 42px 0;
    row-gap: 42px;
  }
  .friends__slider {
    padding: 0px 10px;
  }
  .friends__title {
    font-size: 25px;
  }
  .slider {
    flex-wrap: wrap;
    justify-content: center;
  }
  .slider__arrow-left {
    margin-right: 67px;
  }
  .carousel {
    margin-bottom: 20px;
    order: -1;
  }
  .jennifer {
    display: none;
  }
  /*** Help ***/
  .help__content {
    padding: 42px 0;
    row-gap: 42px;
  }
  .help__title {
    font-size: 25px;
  }
  .list {
    margin: 0 5px;
    justify-content: flex-start;
    -moz-column-gap: 30px;
         column-gap: 30px;
    row-gap: 30px;
  }
  .item {
    row-gap: 20px;
    width: 130px;
    height: 87px;
  }
  .item__icon {
    width: 50px;
    height: 50px;
  }
  .item__text {
    font-size: 15px;
  }
  /*** Donation ***/
  .donation__row {
    row-gap: 42px;
    padding: 42px 0;
  }
  .donation__content {
    align-items: center;
    text-align: center;
    row-gap: 23px;
  }
  .donation__title {
    font-size: 25px;
    max-width: 225px;
  }
  .donation__subtitle {
    letter-spacing: 0;
  }
  .donation__text {
    margin: 0 10px;
    text-align: justify;
  }
  .donation__image img {
    max-width: 260px;
    max-height: 135px;
  }
  .credit-card__number {
    font-size: 15px;
  }
  /*** Footer ***/
  .footer__row {
    padding-top: 30px;
    row-gap: 40px;
  }
  .footer__row-image img {
    max-width: 260px;
    min-height: 270px;
  }
  .row {
    display: flex;
    flex-direction: column;
    row-gap: 40px;
    text-align: center;
    align-items: center;
  }
  .row__contacts {
    row-gap: 40px;
    margin-right: 10px;
    margin-left: 10px;
    align-items: center;
  }
  .row__locations {
    row-gap: 40px;
  }
  .contacts__title {
    font-size: 25px;
  }
  .locations__title {
    font-size: 25px;
    max-width: 250px;
    margin-left: 28px;
    line-height: 120%;
  }
  .boston {
    text-align: left;
  }
  .boston__icon {
    margin-left: 3px;
  }
  .boston__text {
    letter-spacing: 0.06em;
    line-height: 115%;
  }
  .london {
    text-align: left;
  }
  .london__icon {
    margin-left: 3px;
  }
  .london__text {
    letter-spacing: 0.06em;
  }
  /*** Pets page ***/
  /*** Header ***/
  .icon__menu-black {
    background-color: #000000;
  }
  .icon__menu-black::before, .icon__menu-black::after {
    background-color: #000000;
  }
  .header--pets {
    padding-bottom: 0;
  }
  .head--pets {
    padding: 30px 10px;
  }
  .nav--pets {
    background-color: #F6F6F6;
  }
  /*** Pets ***/
  .friends__column--pets {
    padding-bottom: 40px;
  }
  .list--pets {
    row-gap: 30px;
    margin-bottom: 0;
  }
  .card--pets {
    margin-bottom: 0;
  }
  .navigation {
    -moz-column-gap: 10px;
         column-gap: 10px;
  }
  .sophia {
    display: none;
  }
  .timmy {
    display: none;
  }
  .charly {
    display: none;
  }
}